

async-lru



beautifulsoup4

cache
cachetools
certifi




construct
contourpy
cryptography

cycler
Cython
dataclasses
datasets
dbus-python
debugpy
decorator
defer


distro
distro-info
dm-tree
dnspython
duplicity
email-validator
entrypoints
etils
exceptiongroup
executing
fastapi
fasteners
fastjsonschema
filelock
fir

flatbuffe
fonttools
frozenlis
fsspec




gTT



httpcore
httpie
httplib2
httptools
httpx


idna


importlib-resources
incremental
install
ipykernel
ipynb-py-convert
ipython
ipython-genutils
ipywidgets
itsdangerous
jax
jedi


jsonschema

jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter-server
jupyter_client
jupyter_core

jupyterlab
jupyterlab-widgets
jupyterlab_pygments
jupyterlab_server
jupytext

keras
Keras-Preprocessing
keyring
kiwisolver
labelImg
language-selector
launchpadlib
lazr.restfulclient
lazr.uri

lfs
libclang
librosa
llvmlite
lockfile
louis
lxml
macaroonbakery
Mako
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdit-py-plugins
mdurl
mistune
ml-dtypes
monotonic
mpmath
msgpack
multidict
multiprocess
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
netifaces
networkx
neural-structured-learning
notebook_shim
numba
numpy
s-cu12

oauth2client
oauthlib
olefile
omegaconf
onnx
onnxruntime
opencv-contrib-python
opencv-python
opencv-python-headless
opt-einsum
orjson
overrides
packaging
pandas
pandocfilters
paramiko
parso
pexpect
pickleshare
Pillow

platformdirs
plotly
ply

protobuf

pydantic
pydantic_core
PyDrive
pydub
Pygments
PyGObject
PyJWT
pymacaroons
PyNaCl
pyngrok
pyOpenSSL
pyparsing
PyQt5
pyRFC3339
pysmi
pysnmp
pytesseract
python-apt
python-dateutil
python-debian
python-dotenv
python-json-logger
python-magic
python-multipart
python-slugify
python-version
pyttsx3
pytz
pyxdg
PyYAML
pyzmq
qtconsole
QtPy
rapidfuzz
referencing
reg

requests
requests-oauthlib
requests-toolbelt
requests-unixsocket



rsa
sacrebleu
safetensors
scikit-learn
scipy
seaborn



simplejson



starlette
supervision

systemd-python


tflite-support
thop
threadpoolctl
tinycss2
tokenizers
toml
tomli
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
triton
Twisted
typeguard
types-python-dateutil
typing_extensions
tzdata
ubuntu-advantage-tools
ubuntu-drivers-common
ufw
ujson
ultralytics
unattended-upgrade
uritemplat
urllib3
usb-creator
uuid
uvicorn
uvloop
wadllib
watchfiles
wcwidth
webencodings
websocket-client
websockets
Werkzeug
widgetsnbextension
wrapt
wsproto
xkit
xxhash
yarl
zipp
zope.interface
