numpy
pandas
matplotlib
opencv-python
jupyter
labelImg
fastapi
uvicorn
onnx-simplifier
yolov5
sockets
runner
mesa
loader
importer
pytest-bootstrap
dnn
onnx
seaborn
setuptools
gitpython
Pillow
psutil
PyYAML
requests
thop
torch
torchvision
tqdm    
ultralytics
