



fastapi

gTTS


labelImg



numpy

onnx

pandas



pydantic


requests

scikit-learn





tensorflow
tensorflow-addons
tensorflow-datasets
tensorflow-estimator
tensorflow-hub
tensorflow-io-gcs-filesystem
tensorflow-metadata
tensorflow-model-optimization

torch
pytesseract
json    

uvicorn

